/* CSS Document */
#topNavigation {
	margin: 0 0 0 20px;
	padding:0;
	list-style:none;
	float:left;
	width:560px;
}
#topNavigation li {
	display:block;
	float:left;
	margin-left: 3em;
}
#topNavigation > li > a {
	line-height:87px;
	display:block;
	height:87px;
	color:#fff;
	text-decoration:none;
}
#topNavigation>li.donate {
	float:right;	
}
#topNavigation .donate a {
	line-height:41px;
	margin-top:23px; 
	width: 171px;
	height: 41px;
	display: block;
	text-align: center;
	background-image: url("img/button_background.png");
	font-weight:bold;
	font-family: "Trebuchet MS",Arial,Verdana,sans-serif;
    font-size: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	position:relative;
	z-index:5000;
}
#topNavigation > li {position:relative;}
#topNavigation > li .submenu {z-index:10000;
display: none;
position: absolute;
top:67px; 
left:0px;}

#topNavigation > li:hover .submenu {
	display:block;
	background: #fff;
	padding: 1.5em 10px 0 10px;
}

.submenu a {color: #06c !important; text-decoration: none; line-height:0;}
.submenu > h4 {font-size:1em;font-weight:bold;margin-bottom:0;}
.submenu > p {color: #555;}

/* Special embellishments */
.boxshadow .submenu {
	-webkit-box-shadow: 0px 0px 20px #000e1a;
	   -moz-box-shadow: 0px 0px 20px #000e1a;
			box-shadow: 0px 0px 20px #000e1a; 
}
.boxshadow .donate a {
	-webkit-box-shadow: 0px 0px 20px #000e1a;
	   -moz-box-shadow: 0px 0px 20px #000e1a;
			box-shadow: 0px 0px 20px #fff; 
}
